<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--//thymeleaf-->
<h1>Spring boot Apelsin</h1>
<a th:href="@{/category}"> READ ALL CATEGORY</a>
<a th:href="@{/category/add}"> ADD CATEGORY</a>
<hr>
<br/>
<a th:href="@{/product}"> READ ALL PRODUCT</a>
<a th:href="@{/product/add}"> ADD PRODUCT</a>
<hr>
<br/>
<a th:href="@{/order}"> READ ALL Order</a>
<a th:href="@{/order/add}"> ADD Order</a>
</body>
</html>